__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
dist/
build/
site/
.DS_Store
.env


# AI common folders
.agents/*
.claude/*
.codex/*
agent/*

# Structurizr diagrams
sdlc_docs/02_architecture/diagrams/.structurizr
